<h1><%= @list.name %></h1>
<%
# <p><strong>Liste des films</strong></p>
# <ul class="list-group">
  <% @list.movies.each do |movie| %>
    <%# <li class="list-group-item"> %>
      <h1><%= movies.title %></h1>
      <p><%= movies.overview %></p>

    <%# </li> %>
  <% end
# <%# </ul> %>
<%# <br>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
<%# </div> %> %> %>


<%# => voir si j'ai besoin d'un chemin list.bookmark.movies %>
